<div class=" marginImage  ">
    <div class="image-container col-lg-12">
        <img src="../../../../assets/images/Bea/financementParticulierIslamique.jpg" class="img-fluid responsive-img " alt="Image">
        <div class="card card-overlay rounded-0">
            <div class="card-body">
                <h5 class="fw-bold txt-bea">
                    FINANCEMENTS PARTICULIERS
                </h5>
                <h6>Découvrez nos financements particuliers sur mesure, pensés pour vos projets personnels et
                    professionnels. </h6>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="mb-3 mt-2">
        <h3 class="fw-bold txt-bea text-center mb-3">
            Mourabaha immobilière.
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        <h5 class="text-secondary fw-bold">
                            Comment devient-on propriétaire ?
                        </h5>
                        <h6>
                            Le Financement s'effectue via la Mourabaha immobilière, qui consiste en un contrat par
                            lequel la Banque acquiert, à la demande du Client, un bien immobilier, en vue de le lui
                            revendre moyennant une marge bénéficiaire convenue et fixée d'avance
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Acquisition du Bien Immobilier </h6>
                                    <h6 class="mb-0">La Banque Extérieure d'Algérie (BEA) acquiert le bien immobilier à
                                        la demande du client, garantissant ainsi la conformité aux principes de la
                                        finance islamique.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Validation du Financement</h6>
                                    <h6>Suite à une étude approfondie du dossier, la Banque approuve le financement et
                                        guide le client tout au long du processus.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Acquisition et Transfert de Propriété</h6>
                                    <h6>La propriété est transférée à la Banque, assurant ainsi une transaction
                                        sécurisée et transparente.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Revente au Client</h6>
                                    <h6>La Banque revend ensuite le bien au client selon les termes préalablement
                                        convenus dans le contrat de vente Mourabaha immobilière.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">5)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Remboursement Simplifié</h6>
                                    <h6>Le client rembourse la Banque par des mensualités constantes sur une période
                                        fixée à l'avance, facilitant ainsi la gestion financière.</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">
            <ngb-accordion #acc="ngbAccordion" [activeIds]="'panel1'">
                <ngb-panel id="panel1" title="Critère d'éligibilité">
                    <ng-template ngbPanelContent>

                        <div>
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre de nationalité Algérienne (Résident ou non résident).</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre majeur et jouir de tous ses droits.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre âgé de 70 ans maximum à la date de la demande du
                                        financement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un emploi stable (Salarié sous CDI confirmé, CDD ou non salarié
                                        exerçant une activité depuis au moins un an).</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un revenue stable et régulier supérieur à une fois et demi ( 1,5)
                                        le S.N.M.G.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer d'un minimum de 10 % du prix du bien, représentant le gage de
                                        serieux.</span></li>

                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>

                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span> Montant et durée du financement</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div>
                            <h6>
                                Nous mettons entre vos mains les meilleurs formules financement immobilier qui vous
                                aident à devenir propriétaire de la maison de vos rêves.
                            </h6>
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Un financement qui peut aller jusqu’à 90% du coût global du
                                        logement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant du financement est plafonné selon la capacité de
                                        remboursement du client conformément à la réglementation en vigueur.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Durée du financement Mourabaha Immobilière pouvant aller jusqu’à 30 ans
                                        (40 ans pour les jeunes dont l’Age est inférieur ou égale à 40 ans).</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Frais de dossier gratuit.</span></li>
                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h3 class="fw-bold txt-bea text-center mb-3">
        Mourabaha automobile.
    </h3>

    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        <h5 class="text-secondary fw-bold">
                            Comment acquérir une voiture neuve ?
                        </h5>
                        <h6>
                            Le Financement s'effectue via la Mourabaha Automobile, qui consiste en un contrat par lequel
                            la Banque acquiert, à la demande du Client, une voiture fabriquée ou montée en Algérie, en
                            vue de la lui revendre moyennant une marge bénéficiare convenue et fixée d'avance .
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Acquisition Facilitée </h6>
                                    <h6 class="mb-0">Nous achetons la voiture à votre demande, qu'elle soit fabriquée ou
                                        assemblée en Algérie, et nous vous la revendons avec une marge bénéficiaire
                                        convenue à l'avance.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Processus Simplifié</h6>
                                    <h6>Après l'étude rapide de votre dossier et l'approbation du financement par notre
                                        banque, vous effectuez un versement initial comme gage de sérieux, suivi de la
                                        signature de l'engagement unilatéral d'achat.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Propriété Garantie</h6>
                                    <h6> La voiture est acquise par la banque, puis immédiatement revendue à vous-même
                                        avec un contrat clair de vente Mourabaha, assurant le transfert de propriété en
                                        toute légalité.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Conditions Avantageuses</h6>
                                    <h6>Vous remboursez ensuite des mensualités constantes sur une durée fixée à
                                        l'avance, bénéficiant ainsi d'une gestion budgétaire prévisible et transparente.
                                    </h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">

            <ngb-accordion #acc="ngbAccordion" [activeIds]="'panel2'">
                <ngb-panel id="panel2" title="Critère d'éligibilité">
                    <ng-template ngbPanelContent>

                        <div>
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre de nationalité Algérienne et Résident en Algérie.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre majeur et jouir de tous ses droits.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre âgé de 65 ans maximum à la date de la demande du financement
                                        .</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un emploi stable (Salarié sous CDI confirmé, CDD ou non salarié
                                        exerçant une activité depuis au moins un an).</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un revenue stable et régulier supérieur à une fois et demi ( 1,5)
                                        le S.N.M.G.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer d'un minimum de 10 % du prix du bien, représentant le gage de
                                        serieux.</span></li>

                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Montant et durée du financement</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div>
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Des financements qui peuvent aller jusqu’à 90% du coût global du
                                        vehicule.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant du financement est plafonné à 4.000.000 DZD tout en
                                        respectant la capacité de remboursement du client, conformément à la
                                        réglementation en vigueur.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La durée de financement allant de 12 à 60 mois.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Frais de dossier gratuit.</span></li>
                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h3 class="fw-bold txt-bea text-center mb-3">
        Mourabaha Biens
        à la Consommation.
    </h3>

    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        <h5 class="text-secondary fw-bold">
                            Comment acquérir des équipements neufs ?
                        </h5>
                        <h6>
                            Chez Banque Extérieure d'Algérie (BEA), nous facilitons l'acquisition d'équipements neufs
                            grâce à notre solution de financement Mourabaha Biens à la Consommation. Ce contrat vous
                            permet d'acquérir des biens de consommation fabriqués ou assemblés en Algérie, en toute
                            simplicité et transparence.
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Demande de financement </h6>
                                    <h6 class="mb-0">Après l'étude minutieuse de votre dossier, et une fois l'accord de
                                        financement obtenu, vous procédez au versement du gage de sérieux et à la
                                        signature de l'engagement unilatéral d'achat.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Acquisition des équipements</h6>
                                    <h6>La Banque acquiert les équipements pour votre compte, conformément à vos besoins
                                        spécifiques..</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0"> Transfert de propriété</h6>
                                    <h6> Les équipements sont ensuite transférés à la Banque, qui vous les revend
                                        immédiatement selon les termes convenus du contrat de vente Mourabaha.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Remboursement flexible</h6>
                                    <h6>Vous bénéficiez de mensualités constantes, échelonnées sur une durée fixée à
                                        l'avance, pour rembourser le montant du financement..
                                    </h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">

            <ngb-accordion #acc="ngbAccordion" [activeIds]="'panel3'">
                <ngb-panel id="panel3" title="Critère d'éligibilité">
                    <ng-template ngbPanelContent>
                        <div>
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre de nationalité Algérienne et Résident en Algérie.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre majeur et jouir de tous ses droits.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre âgé de 65 ans maximum à la date de la demande du
                                        financement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un emploi stable (Salarié sous CDI confirmé, CDD ou non salarié
                                        exerçant une activité depuis au moins un an).</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Avoir un revenue stable et régulier supérieur à une fois et demi ( 1,5)
                                        le S.N.M.G.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer d'un minimum de 10 % du prix du bien, représentant le gage de
                                        serieux.</span></li>

                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Montant et durée du financement</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div>
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Des financements qui peuvent aller jusqu’à 90% du coût global des
                                        équipements.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant du financement est plafonné à 1.500.000 DZD tout en
                                        respectant la capacité de remboursement du client, conformément à la
                                        réglementation en vigueur.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La durée de financement allant de 12 à 48 mois.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Frais de dossier gratuit.</span></li>
                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>