<div class=" marginImage ">
    <div class="image-container col-lg-12">
        <img src="../../../../assets/images/Bea/compteIslamique.jpg" class="img-fluid responsive-img" alt="Image">
        <div class="card card-overlay rounded-0">
            <div class="card-body">
                <h5 class="fw-bold txt-bea">
                    NOS COMPTES
                </h5>
                <h6>Découvrez nos comptes adaptés à vos besoins, en respectant vos convictions religieuses. </h6>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container" id="1" >
        <div class="mb-3 mt-2">
            <h3 class="fw-bold txt-bea text-center mb-3">
                Le Compte de Dépôt Islamique pour les particuliers.
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-6 border-end border-primary">
                <section id="about" class="about section">
                    <div class="d-flex align-items-stretch">
                        <div class="d-flex flex-column justify-content-center">
                            <h6>
                                Que vous soyez résidents ou non en Algérie, disposez d'un compte de dépôt islamique et
                                bénéficiez d'une panoplie de services bancaires.
                            </h6>
                            <ul class="mt-3 list-unstyled">
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-clock txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Accès 24/7</h5>
                                        <h6 class="mb-0">Gardez le contrôle total de vos finances, où que vous soyez et
                                            à
                                            tout
                                            moment.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-star-and-crescent txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Conformes à la charia</h5>
                                        <h6>Investissez et épargnez en toute tranquillité avec des produits strictement
                                            conformes aux préceptes de la charia.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="fa-solid fa-sack-xmark txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Services Bancaires gratuits</h5>
                                        <h6>Bénéficiez de nombreux services sans frais supplémentaires, incluant une
                                            carte
                                            bancaire, un chéquier, et des relevés mensuels.</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <h5 class="text-secondary fw-bold">
                    Caractéristiques du Compte de Dépôt Islamique :
                </h5>
                <ul class="mt-3 custom-list">
                    <li class="d-flex align-items-start"><i class="fa-solid fa-circle-check txt-bea mt-2"></i>
                        &nbsp;<span>Versements et retraits sécurisés, adaptés à vos besoins financiers.</span></li>
                    <li class="d-flex align-items-start"><i class="fa-solid fa-circle-check txt-bea mt-2"></i>
                        &nbsp;<span>Facilité de remises de chèques pour des transactions fluides.</span></li>
                    <li class="d-flex align-items-start"><i class="fa-solid fa-circle-check txt-bea mt-2"></i>
                        &nbsp;<span>Prélèvements des sommes dues et autres frais et commissions conformes aux normes
                            réglementaires.</span></li>
                    <li class="d-flex align-items-start"><i class="fa-solid fa-circle-check txt-bea mt-2"></i>
                        &nbsp;<span>Toutes autres opérations régies par les dispositions réglementaires de la Banque,
                            assurant une gestion transparente et conforme aux exigences légales.</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mb-2 " id="2">
        <h3 class="fw-bold txt-bea text-center mb-3">
            Le Compte courant islamique .
        </h3>
        <section id="about" class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ">


                        <div class="d-flex flex-column justify-content-center">
                            <h6>
                                Que vous soyez commerçants, professionnels ou entreprises, le compte courant islamique
                                vous
                                permet de gérer vos transactions quotidiennes.
                            </h6>
                            <ul class="mt-3 list-unstyled">
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-clock txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Accès 24/7</h5>
                                        <h6 class="mb-0">Gardez le contrôle total de vos finances, où que vous soyez et
                                            à
                                            tout
                                            moment.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-star-and-crescent txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Conformes à la charia</h5>
                                        <h6>Investissez et épargnez en toute tranquillité avec des produits strictement
                                            conformes aux préceptes de la charia.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="fa-solid fa-sack-xmark txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class=" text-secondary fw-bold mb-0">Services Bancaires gratuits</h5>
                                        <h6>Bénéficiez de nombreux services sans frais supplémentaires, incluant une
                                            carte
                                            bancaire, un chéquier, et des relevés mensuels.</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6  border-start border-primary ">
                        <div class="d-flex flex-column ">
                            <h5 class="text-secondary fw-bold">
                                Caractéristiques du Compte courant islamique :
                            </h5>
                            <ul class="mt-3 custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Gestion simplifiée des versements et retraits.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Traitement efficace des remises de chèques pour des transactions
                                        fluides.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Sécurité optimale lors des paiements de chèques émis.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Transferts rapides et fiables, nationaux et internationaux.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Facilité dans le règlement des tirages par chèques.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Expertise bancaire dans l'encaissement des effets de commerce.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Prélèvements automatiques transparents et gestion claire des
                                        frais.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Conformité rigoureuse aux normes réglementaires bancaires.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="container mb-2 " id="3">
        <h3 class="fw-bold txt-bea text-center mb-3">
            Le Compte Epargne islamique.
        </h3>
        <section id="about" class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5  border-end border-primary">


                        <div class="d-flex flex-column justify-content-center">
                            <h6>
                                Il vous donne un accès flexible à vos fonds à tout moment, tout en continuant à réaliser
                                des
                                bénéfices selon le concept du contrat « Moudaraba », et vos fonds sont investis dans des
                                financements islamiques.
                            </h6>
                            <ul class="mt-3 list-unstyled">
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-clock txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Accès 24/7</h5>
                                        <h6 class="mb-0">Gardez le contrôle total de vos finances, où que vous soyez et
                                            à
                                            tout
                                            moment.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-star-and-crescent txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Conformes à la charia</h5>
                                        <h6>Investissez et épargnez en toute tranquillité avec des produits strictement
                                            conformes aux préceptes de la charia.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="fa-solid fa-sack-xmark txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class=" text-secondary fw-bold mb-0">Services Bancaires gratuits</h5>
                                        <h6>Bénéficiez de nombreux services sans frais supplémentaires, incluant une
                                            carte
                                            bancaire, un chéquier, et des relevés mensuels.</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-column ">
                            <h5 class="text-secondary fw-bold">
                                Caractéristiques du Compte épargne islamique :
                            </h5>
                            <ul class="mt-3 custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Gestion simplifiée des versements et retraits.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Traitement efficace des virements reçus et/ou émis.</span></li>

                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Conformité rigoureuse aux normes réglementaires bancaires.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="container mb-2 " id="4">
        <h3 class="fw-bold txt-bea text-center mb-3">
            Le Compte d'investissement islamique non restreint à terme pour particuliers
            et entreprises.
        </h3>
        <section id="about" class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5  border-end border-primary">


                        <div class="d-flex flex-column justify-content-center">
                            <h6>
                                Découvrez le Compte de Dépôt d'Investissement Non Restreint à Terme de la Banque
                                Extérieure
                                d'Algérie, une solution innovante pour ceux qui cherchent à investir avec responsabilité
                                et
                                conformité aux principes de la charia :
                            </h6>
                            <ul class="mt-3 list-unstyled">
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-coins txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Investissement éthique</h5>
                                        <h6 class="mb-0">Vos fonds sont placés dans des financements islamiques
                                            conformes à
                                            la charia.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="fa-solid fa-shield txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class="text-secondary fw-bold mb-0">Bloquage temporaire</h5>
                                        <h6>Sécurité et transparence avec des fonds bloqués pour une durée définie.</h6>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="fa-solid fa-lock txt-bea fs-1 me-3"></i>
                                    <div>
                                        <h5 class=" text-secondary fw-bold mb-0">Sécurité financière</h5>
                                        <h6>Gestion rigoureuse et conforme aux normes réglementaires.</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-column ">
                            <h5 class="text-secondary fw-bold">
                                Caractéristiques du compte de Dépôt d'investissement Non restreint à terme :
                            </h5>
                            <ul class="mt-3 custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Placement à partir de 50.000 DA.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Plusieurs durées d'investissement, à partir de 03 mois jusqu'a 60 mois
                                        et
                                        plus.</span></li>

                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Clés de répartition avantageuses.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Aucun plafond de dépot.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Toutes autres opérations régies par les dispositions réglementaires de
                                        la
                                        Banque.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>