.wrapper {
    background: #dfe6f4;
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.icon-height {
    height: 24px;
    width: 24px;
}

.inputbox {
    border: 1px solid #cfcece;
    outline: none;
    padding-right: 30px;
}

.inputbox:focus {
    border: 2px solid #1163de;
}

.input-label {
    top: -12px;
    left: 3%;
    display: flex;
    align-items: center;
}

.password-icon,
.username-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #1163de;
}

@media only screen and (max-width: 768px) {
    .row {
        max-width: 420px;
        width: 100%;
    }
}