<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="fw-bold text-white bg-bea p-3">Changement du mot de passe</h4>
                <div class="col-md-10 mx-auto mt-5">
                    <div class="position-relative my-4">
                        <input class="form-control inputbox shadow-none p-2" name="utilisateur" id="email"
                            placeholder="">
                        <div class="input-label position-absolute px-2 bg-white z-1">
                            <label for="email" class="control-label txt-bea fw-bold">Nom d'utilisateur</label>
                        </div>
                        <i class="fas fa-user username-icon"></i>
                    </div>
                    <div class="position-relative my-5">
                        <input class="form-control inputbox shadow-none p-2" [type]="currentPasswordFieldType"
                            name="currentPassword" id="currentPassword" placeholder="">
                        <div class="input-label position-absolute px-2 bg-white z-1">
                            <label for="currentPassword" class="control-label txt-bea fw-bold">Mot de passe initial(remis par votre agence)</label>
                        </div>
                        <i id="showCurrentPassword" class="fas password-icon"
                            [ngClass]="{'fa-eye-slash': currentPasswordFieldType === 'password', 'fa-eye': currentPasswordFieldType === 'text'}"
                            (click)="togglePasswordVisibility('currentPassword')"></i>
                    </div>
                    <div class="position-relative my-5">
                        <input class="form-control inputbox shadow-none p-2" [type]="newPasswordFieldType"
                            name="newPassword" id="newPassword" placeholder="">
                        <div class="input-label position-absolute px-2 bg-white z-1">
                            <label for="newPassword" class="control-label txt-bea fw-bold">Nouveau mot de passe</label>
                        </div>
                        <i id="showNewPassword" class="fas password-icon"
                            [ngClass]="{'fa-eye-slash': newPasswordFieldType === 'password', 'fa-eye': newPasswordFieldType === 'text'}"
                            (click)="togglePasswordVisibility('newPassword')"></i>
                    </div>
                    <div class="position-relative my-5">
                        <input class="form-control inputbox shadow-none p-2" [type]="confirmPasswordFieldType"
                            name="confirmPassword" id="confirmPassword" placeholder="">
                        <div class="input-label position-absolute px-2 bg-white z-1">
                            <label for="confirmPassword" class="control-label txt-bea fw-bold">Confirmer le nouveau mot
                                de passe</label>
                        </div>
                        <i id="showConfirmPassword" class="fas password-icon"
                            [ngClass]="{'fa-eye-slash': confirmPasswordFieldType === 'password', 'fa-eye': confirmPasswordFieldType === 'text'}"
                            (click)="togglePasswordVisibility('confirmPassword')"></i>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto ">
                        <button class="btn btn-primary fw-bold" type="button">Envoyer</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>