<div class=" marginImage  ">
    <div class="image-container col-lg-12">
        <img src="../../../../assets/images/Bea/financeParticulier.jpg" class="img-fluid responsive-img " alt="Image">
        <div class="card card-overlay rounded-0">
            <div class="card-body">
                <h5 class="fw-bold txt-bea">
                    FINANCEMENTS PARTICULIERS
                </h5>
                <h6>
                    Obtenez une estimation des remboursements de votre crédit grâce à notre outil de simulation.
                </h6>
                <div class="d-md-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-primary  fw-bold "(click)="navigateTo(url!)">
                        Acceder au simulateur&nbsp;<i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="mb-5 mt-2">
        <h3 class="fw-bold txt-bea text-center">
            Notre gamme de crédits immobiliers.
        </h3>
        <p class="text-center">
            Un chargé de clientèle vous recevra dans un bureau dédié, discret et confortable. Il débutera par vous
            écouter,
            vous expliquera les avantages et les différentes formules de crédit immobilier, puis vous aidera à choisir
            la
            solution la mieux adaptée à votre projet.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let creditImmobilier of creditImmobiliers">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-4">
                                <img [src]="creditImmobilier.image" alt="Image Accueil"
                                    class="img-fluid rounded-start h-100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-center txt-bea fw-bold">{{ creditImmobilier.title }}</h5>
                                    <p class="card-text flex-grow-1">{{ creditImmobilier.designation }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5 mt-5">
        <h3 class="fw-bold txt-bea text-center">
            Simulateur de Crédit Immobilier.
        </h3>
        <p class="text-center">
            Découvrez vos options financières avec notre simulateur de crédit. Obtenez une estimation précise de
            vos remboursements pour mieux planifier votre projet immobilier.
        </p>
        <section>
            <div class="row gy-4 justify-content-center align-items-center  ">
                <div class="col-lg-6 order-first order-lg-last">
                    <img src="../../../../assets/images/Bea/SimulateurImobilier.jpg" class="img-fluid" alt="Image">
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h5>Pourquoi choisir notre solution de crédit immobilier ?</h5>
                    <ul class="mt-3 list-unstyled">
                        <li class="d-flex align-items-center mb-3">
                            <i class="fa-solid fa-chart-line txt-bea fs-1 me-3"></i>
                            <div>
                                <h5 class="text-primary fw-bold mb-0">Taux d'intérêt fixe</h5>
                                <h6 class="mb-0">Connaître exactement le coût de votre prêt dès le départ.</h6>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="fa-solid fa-briefcase txt-bea fs-1 me-3"></i>

                            <div>
                                <h5 class="text-primary fw-bold mb-0">Accompagnement spécialisé</h5>
                                <h6> Une équipe de spécialistes dédiés vous guide à chaque étape de votre projet
                                    immobilier.
                                </h6>
                            </div>
                        </li>
                        <li class="d-flex align-items-center  mb-3">
                            <i class="fa-solid fa-laptop-code txt-bea fs-1 me-2"></i>
                            <div>
                                <h5 class="text-primary fw-bold mb-0">Flexibilité des échéances</h5>
                                <h6>Des options d'échéances modulables pour s'adapter à vos revenus.</h6>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fa-solid fa-file-shield txt-bea fs-1 me-2 ms-1"></i>
                            <div>
                                <h5 class="text-primary fw-bold mb-0">Sécurité financière</h5>
                                <h6>Une assurance intégrée couvre votre crédit en cas de décès.</h6>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer mt-3 me-5 pb-3">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary fw-bold" (click)="navigateTo(url!)">
                                Accéder au simulateur&nbsp;<i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>


</div>