<div class="content">
    <div class="mb-3 mt-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1 text-center">
                <h3 class="fw-bold txt-bea m-0">
                    Conditions d'ouverture de comptes.
                </h3>
            </div>
            <button class="btn btn-primary d-none d-lg-block fw-bold"(click)="goToAccueil()"><i class="fa-solid fa-left-long"></i>&nbsp;Retour
                vers l'accueil</button>
            <button class="btn btn-primary d-lg-none  fw-bold"(click)="goToAccueil()"><i class="fa-solid fa-left-long"></i></button>
        </div>
        <p class="mt-2">
            À la Banque Extérieure d'Algérie (BEA), nous simplifions l’ouverture de vos comptes bancaires pour vous
            offrir une expérience plus rapide et plus pratique. Découvrez nos nouvelles conditions d’ouverture, adaptées
            pour répondre à vos besoins tout en respectant les normes en vigueur.
        </p>
    </div>
    <div class="row  justify-content-center align-items-center">
        <div class=" d-flex flex-column justify-content-center ">
            <h4 class="mb-3 text-primary fw-bold"> {{ languageService.getTranslation("1) Liste des pièces justificatives
                à fournir pour ouvrir un compte particulier")}}</h4>
            <div class=" mt-2 mb-2">
                <img src="../../../../assets/images/Bea/ouvertureCompteParticuliers.png"
                    class="img-fluid responsive-img  " alt="Image">
            </div>
            <ul class="mt-3 ms-2 custom-list">
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span> {{ languageService.getTranslation("
                        Une copie de votre Carte Nationale d'Identité (CNI) ou Passeport en cours de validité pour
                        confirmer votre identité.")}}</span></li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Certificat de résidence ou Attestation d'hébergement.")}}</span>
                </li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Facture d'électricité ou de téléphone récente.")}}</span></li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Contrat de location ou Quitance de loyer en cours.")}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class=" gy-4  mt-3">
        <div class=" d-flex flex-column justify-content-center ">
            <h4 class="mb-3 text-primary fw-bold"> {{ languageService.getTranslation("2) Liste des pièces justificatives
                à fournir pour ouvrir un compte professionnel")}}</h4>
            <div class=" mt-2 mb-2">
                <img src="../../../../assets/images/Bea/ouvertureCompteProfessionnel.png"
                    class="img-fluid responsive-img  " alt="Image">
            </div>
            <ul class="mt-3 ms-2 custom-list">
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span> {{ languageService.getTranslation("
                        Copies des pièces d'identité en cours de validité du Gérant et du Co-gérant de
                        l'entreprise.")}}</span></li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Un document officiel attestant de l'adresse du siège social de
                        l'entreprise.")}}</span>
                </li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Soumettre les Statuts de l'entreprise, le Registre de Commerce
                        et/ou les agréments (légalisés) pour vérification.")}}</span></li>
                <li><i class="fa-solid fa-circle-check txt-bea"></i> &nbsp;<span>{{
                        languageService.getTranslation("Fournir les numéros d'identification fiscale et statistique de
                        l'entreprise pour assurer la conformité avec les régulations en vigueur.")}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>