<div class=" marginImage  ">
    <div class="image-container col-lg-12">
        <img src="../../../../assets/images/Bea/financeEntrepriseIslam.png" class="img-fluid responsive-img" alt="Image">
        <div class="card card-overlay rounded-0">
            <div class="card-body">
                <h5 class="fw-bold txt-bea">
                    FINANCEMENTS ENTREPRISES
                </h5>
                <h6>Explorez nos solutions de financement entreprises à la BEA, conçues sur mesure pour soutenir votre
                    croissance avec efficacité et expertise. </h6>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="mb-3 mt-2">
    <h3 class="fw-bold txt-bea text-center">
        Financement SALAM.
    </h3>
    </div>
    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">

                        <h6>
                            Découvrez nos solutions de financement Salam conçues spécialement pour répondre aux besoins
                            uniques de votre entreprise. À la Banque BEA, nous vous offrons des produits bancaires
                            conformes aux principes de la Chariâa islamique, garantissant ainsi une approche éthique et
                            transparente.
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Demande de Financement Simplifiée</h6>
                                    <h6 class="mb-0">Après une étude approfondie de votre dossier, nous accordons
                                        rapidement le financement nécessaire. Une fois approuvé, vous procédez au
                                        versement du gage de sérieux et à la signature de l'engagement unilatéral
                                        d'achat.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Achat de Marchandises en Toute Confiance
                                    </h6>
                                    <h6 class=" mb-0">En tant qu'acheteur, la BEA acquiert la
                                        marchandise auprès de votre fournisseur, payant le prix au comptant. Votre
                                        fournisseur s'engage ensuite à livrer la marchandise à une date préalablement
                                        convenue.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Mandat de Vente à Votre Charge</h6>
                                    <h6>Après la livraison, nous vous mandatons pour entreposer, promouvoir et vendre la
                                        marchandise en notre nom, selon des modalités préalablement établies. Cela vous
                                        permet de maximiser vos opportunités commerciales tout en respectant les
                                        conditions convenues.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Remboursement Flexible et Transparent</h6>
                                    <h6>Vous remboursez la banque en effectuant le paiement des revenus générés par la
                                        vente. Chez BEA, nous vous accompagnons tout au long du processus, garantissant
                                        une collaboration efficace et harmonieuse.</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseOne')"
                            [attr.aria-expanded]="isAccordionOpen('collapseOne')" aria-controls="collapseOne"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseOne')}">
                            Critère d'éligibilité
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseOne')}" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer de la qualité de commerçant conformément aux dispositions du
                                        code de commerce.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Être affilié au plan fiscal et parafiscal.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Tenir les livres règlementaires et produire les documents
                                        comptables.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas exercer dans un secteur prohibé par la Chariâa Islamique.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas avoir d’incidents de paiements avec la Banque ou tout autre
                                        Etablissement Financier.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas figurer dans la liste des interdits de chéquiers ou dans la
                                        black-list.</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseTwo')"
                            [attr.aria-expanded]="isAccordionOpen('collapseTwo')" aria-controls="collapseTwo"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseTwo')}">
                            Montant et durée du financement
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseTwo')}" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant du financement du « Salam » sera sans plafond et sans limite
                                        (100% du cout global de la marchandise), sous forme de ligne de
                                        financement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant total octroyé est tributaire de l’étude préalable du
                                        dossier.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La durée maximum du financement allant de 03 à 12 mois.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h3 class="fw-bold txt-bea text-center mb-3">
        MOURABAHA MARCHNDISE
    </h3>

    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">

                        <h6>
                            La Mourabaha Marchandises de la Banque BEA est une solution idéale pour financer vos besoins
                            opérationnels et gérer efficacement votre trésorerie à court terme, tout en respectant les
                            principes de la finance islamique.
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Demande de Financement Simplifiée</h6>
                                    <h6 class="mb-0">Après une analyse approfondie de votre dossier et l'approbation du
                                        financement par la Banque BEA, vous procédez au versement du gage de sérieux et
                                        à la signature de l'engagement unilatéral d'achat.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Achat Direct de Marchandises
                                    </h6>
                                    <h6 class=" mb-0">En tant que premier acheteur, la BEA acquiert directement la
                                        marchandise auprès de votre fournisseur, établissant un contrat clair et
                                        transparent entre la banque et le fournisseur.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Vente avec Contrat Mourabaha</h6>
                                    <h6>Après l'acquisition, la banque vous revend la marchandise selon un contrat
                                        Mourabaha convenu, vous permettant ainsi de bénéficier d'une solution de
                                        financement conforme à vos besoins.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Remboursement Flexible et Transparent</h6>
                                    <h6>Le remboursement s'effectue de manière échelonnée, avec une marge de profit
                                        préalablement définie et acceptée. Cela vous offre une visibilité et une gestion
                                        optimale de votre budget.</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseThree')"
                            [attr.aria-expanded]="isAccordionOpen('collapseThree')" aria-controls="collapseThree"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseThree')}">
                            Critère d'éligibilité
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseThree')}" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer de la qualité de commerçant conformément aux dispositions du
                                        code de commerce.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Être affilié au plan fiscal et parafiscal.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Tenir les livres règlementaires et produire les documents
                                        comptables.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas exercer dans un secteur prohibé par la Chariâa Islamique.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas avoir d’incidents de paiements avec la Banque ou tout autre
                                        Etablissement Financier.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas figurer dans la liste des interdits de chéquiers ou dans la
                                        black-list.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer du gage du sérieux « Hamich Al Djidiya ».</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseFor')"
                            [attr.aria-expanded]="isAccordionOpen('collapseFor')" aria-controls="collapseFor"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseFor')}">
                            Montant et durée du financement
                        </button>
                    </h2>
                    <div id="collapseFor" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseFor')}" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant du financement du financement « Mourabaha Marchandises » est
                                        à hauteur de 90% du cout d’acquisition de la marchandise, sous forme de ligne de
                                        financement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Le montant total octroyé n’est pas plafonné et est tributaire de l’étude
                                        préalable du dossier de financement.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La durée maximum du financement allant de 03 à 06 mois.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h3 class="fw-bold txt-bea text-center mb-3">
        Ijara Equipements
    </h3>

    <div class="row">
        <div class="col-lg-6 border-end border-primary">
            <section id="about" class="about section">
                <div class="d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        <h6>
                            Le financement Ijara Equipements de la Banque BEA vous offre une solution flexible et
                            conforme aux principes de la finance islamique, vous permettant d'acquérir les équipements
                            nécessaires à votre activité tout en préservant votre trésorerie.
                        </h6>
                        <ul class="mt-2 list-unstyled">
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">1)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Demande de Financement Facilitée</h6>
                                    <h6 class="mb-0">Après une étude approfondie de votre dossier et l'approbation du
                                        financement par la Banque BEA, vous procédez au versement du gage de sérieux et
                                        à la signature de l'engagement unilatéral d'achat.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">2)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Acquisition et Propriété Transférée
                                    </h6>
                                    <h6 class=" mb-0">La BEA acquiert les équipements demandés, transférant ainsi la
                                        propriété à la banque. Vous bénéficiez ainsi de la qualité et de la fiabilité
                                        des équipements nécessaires à votre entreprise.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">3)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Location avec Contrat Ijara</h6>
                                    <h6>Après l'acquisition, la banque vous loue les équipements via un contrat Ijara
                                        clairement défini, pour une durée préalablement convenue et à un loyer fixé à
                                        l'avance. Cela vous permet d'utiliser les équipements sans immobiliser vos
                                        fonds.</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <h5 class=" txt-bea fw-bold">4)</h5>
                                &nbsp;
                                <div class="mb-1">
                                    <h6 class="text-secondary fw-bold mb-0">Option d'Acquisition</h6>
                                    <h6>À la fin de la période de location, vous avez la possibilité d'acquérir
                                        définitivement les équipements à leur valeur résiduelle, offrant ainsi une
                                        flexibilité et une gestion optimale de vos actifs.</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mt-2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseFive')"
                            [attr.aria-expanded]="isAccordionOpen('collapseFive')" aria-controls="collapseFive"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseFive')}">
                            Critère d'éligibilité
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseFive')}" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer de la qualité de commerçant conformément aux dispositions du
                                        code de commerce.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Etre affilié au plan fiscal et parafiscal.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas exercer dans un secteur prohibé par la Chariâa Islamique.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Ne pas figurer dans la liste des interdits de chéquiers ou dans la
                                        black-list.</span>
                                </li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Disposer du gage de sérieux « hamich al Djidiya >>.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" (click)="toggleAccordion('collapseSix')"
                            [attr.aria-expanded]="isAccordionOpen('collapseSix')" aria-controls="collapseSix"
                            [ngClass]="{'bg-primary text-white': isAccordionOpen('collapseSix')}">
                            Montant et durée du financement
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse"
                        [ngClass]="{'show': isAccordionOpen('collapseSix')}" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class=" custom-list">
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Des financements allant jusqu'à 90% du prix du bien.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>Des durées de financement comprises entre 12 et 60 mois.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La durée de financement allant de 12 à 60 mois.</span></li>
                                <li class="d-flex align-items-start"><i
                                        class="fa-solid fa-circle-check txt-bea mt-2"></i>
                                    &nbsp;<span>La banque finance différents types de biens mobiliers, tels que: Le
                                        matériel roulant, les véhicules utilitaires légers, les engins de travaux
                                        publics, le matériel de production, le matériel médical ...</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>