.carousel1 {
  gap: 6px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel1::-webkit-scrollbar {
  display: none;
}

.carousel1.no-transition {
  scroll-behavior: auto;
}

.carousel1.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel1 .card {
  scroll-snap-align: start;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  border-radius: 8px;
}

.custom-list {
  list-style-type: none;
  padding-left: 0;
}

.responsive-img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}

.image-container {
  position: relative;
  display: inline-block;
}

.card-overlay {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 350px;
  background-color: white;
  border: none
}

.menuSol {
  background-color: hsl(0, 8%, 91%);
  padding-top: 20px;
}


.card-overlay {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 350px;
  background-color: white;
  border: none
}

.menuSol {
  background-color: hsl(0, 8%, 91%);
  padding-top: 20px;
}
.container {
  margin-top: 20px;
}

.card-service {
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  color: #666;
  font-size: 0.90rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-column {
  width: 50px;
  min-height: 100%;
}

.icon-column i {
  font-size: 1.5rem;
}


.card-footer {
  border-top: none;
  background-color: white;
  margin-bottom: 5px;
}



.responsive-img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}