<div class="content">
    <div class="mb-5 mt-2">
        <div class="d-flex justify-content-end m-2">
            <button class="btn btn-primary d-none d-lg-block fw-bold" (click)="goToAccueil()">
                <i class="fa-solid fa-left-long"></i>&nbsp;Retour vers l'accueil
            </button>
            <button class="btn btn-primary d-lg-none fw-bold ms-2" (click)="goToAccueil()">
                <i class="fa-solid fa-left-long"></i>
            </button>
        </div>
        <h5>
            Solution bancaire "Crédits aux entreprises" est en cours de développement &nbsp;<i class="fa-regular fa-face-smile"></i>
        </h5>
    </div>
</div>