/* Style général */
.chatbot {
  position: fixed; /* Positionnement fixe pour qu'il soit toujours visible */
  right: 35px;
  bottom: 70px;
  width: 300px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  z-index: 2000; /* Assurez-vous que le z-index est suffisamment élevé */
}
.chatbot.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(0.9);
}
.chatbot header {
  position: relative;
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 350px;
  padding: 10px 10px 10px 10px;
  list-style-type: none;
  margin-bottom: 3rem;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  justify-content: flex-end;
  padding-left: 1rem;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #0d6efd;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  border-radius: 4px;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #0d6efd;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: black;
  background: #d2e1fa;
  padding: 1rem;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

/* Media query pour les écrans de moins de 991 pixels */
@media (max-width: 991px) {
  .chatbot {
      right: 30px;
      bottom: 70px;
      width: 280px; /* Réduire la largeur du chatbot */
      transform: scale(0.6); /* Réduire l'échelle pour garder les proportions */
      border-radius: 15px;
  }

  .chatbot .chatbox {
      height: 280px; /* Ajuster la hauteur si nécessaire */
  }

  .chat-input textarea {
      height: 45px; /* Réduire la hauteur du textarea */
  }

  .chat-input span {
      font-size: 1.2rem; /* Réduire la taille de l'icône d'envoi */
  }
}
